*,
*::after,
*::before {
    box-sizing: border-box;
}

.all-page {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    background: #FFFFFF;
}

.contant {
    width: 885px;
    height: 1282px;
    margin: auto;
    padding: auto;
}

.header {
    display: flex;
    width: 1283px;
    height: 117px;
    margin-top: 61px;
    margin-left: 98px;
    margin-right: 99px;
    margin-bottom: 0;
    padding: 0;
}

.logo-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.Ra {
    font-family: sans-serif;
    font-size: 80px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.mda {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(66, 183, 250);
    margin: 0;
    padding: 0;
}

.menu {
    width: 1280px;
    height: 72px;
    margin-right: 99px;
    margin-left: 98px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: #35444F;
}

.item-list {
    display: flex;
    justify-content: flex-start;
    width: auto;
    text-decoration: none;
    list-style: none;
    height: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: sans-serif;
    margin-top: 0;
    padding-top: 0;
    background-color: #35444F;
}

.item1,
.item2,
.item3,
.item4 {
    border-left: 1px solid #FFFFFF;
    display: flex;
    padding-left: 32px;
    padding-right: 33px;
}

.item1 {
    margin-left: 162px;
    padding-right: 33px;
    padding-left: 32px;
    justify-content: center;
}

.links {
    height: 72px;
    width: auto;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin-top: 26px;
    justify-items: center;
}

.item2:hover .links {
    color: red;
}

.main {
    display: flex;
    width: 885px;
    margin-left: 0;
    padding: 0;
}

.aside-items {
    display: flex;
    justify-content: center;
    width: 344px;
    margin-left: 0;
    margin-top: 50px;
    margin-right: 0;
    padding: 0;
}

.main-photo-picture1 {
    display: flex;
    justify-content: right;
    width: 885px;
    height: 529px;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 297px;
    padding-right: 268px;
    padding-bottom: 73px;
    padding-top: 75px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.paragraph-text {
    width: 885px;
    height: 120px;
    margin-left: 0;
    margin-top: 37px;
    margin-bottom: 54px;
    padding: 0;
}

.first-paragraph {
    display: flex;
    width: 885px;
    height: 120px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 496px;
    margin-right: 99px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.second-paragraph {
    display: inline-flex;
    width: 885px;
    height: 109px;
    margin-left: 496px;
    margin-right: 99px;
    margin-bottom: 0;
    margin-top: 34px;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.aside-menu {
    display: flex;
    width: 344px;
    height: 399px;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 52px;
    border: 1px solid #000000;
}

.aside-items {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    align-content: center;
    margin: 0;
    margin-bottom: 0;
    padding-top: 0;
    align-items: flex-start;
}

.links-aside-items,
.links-aside-items-hover {
    display: flex;
    align-items: stretch;
    list-style: none;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 30px;
    font-size: 27px;
    line-height: 27px;
    margin-left: 44px;
    color: #485863;
    text-decoration: none;
    list-style: none;
}

.links-aside-items-hover:hover {
    background-color: #DBDBDB;
    margin-left: 0;
    margin-right: 0;
    padding-left: 120px;
    padding-right: 57px;
}

.links-aside {
    text-decoration: none;
    color: #485863;
    display: flex;
    width: auto;
    height: 27px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #485863;
}

.links-aside-hover {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    color: #495863;
    width: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

.links-aside-hover:hover {
    color: red;
}

.links-aside-items:last-child {
    padding-bottom: 26px;
}

.footer {
    display: flex;
    align-content: flex-end;
    width: 1280px;
    height: 69px;
    margin-left: 100px;
    margin-top: 197px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding: 0;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    width: 928px;
    height: 69px;
    margin-left: 40px;
    padding-right: 80px;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding: auto;
    color: #0C1927;
}

.footer-items {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width: 1283px;
    margin: auto;
    padding: auto;
    font-size: 28px;
    line-height: 28px;
}

.links-footer-items {
    display: flex;
    padding: auto;
    justify-content: space-evenly;
}

.links-footer,
.links-footer-ramda {
    text-decoration: none;
    list-style: none;
    color: #0C1927;
}

.links-footer-ramda:hover {
    color: red;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    width: 230px;
    height: 69px;
    margin-left: 40px;
    margin-right: 0;
    padding-right: 0;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    align-content: center;
}

.copyright-text {
    text-decoration: none;
    list-style: none;
    color: #010101;
}